<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Hi i'm the Tournament detail page for {{tournament._id}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-1 bg-primary">
            <ng-include src="'views/partials/contenderList.html'"></ng-include>
        </div>

        <div class="col-lg-4 col-lg-offset-2 bg-success">
            <ng-include src="'views/partials/contenderCreator.html'"></ng-include>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4 col-lg-offset-1 bg-primary contender">
            <h1>{{firstContender}}</h1>
        </div>
        <div class="col-lg-2 text-center text-danger">
           <h1>VERSUS</h1>
        </div>
        <div class="col-lg-4 bg-success contender">
            <h1>{{secondContender}}</h1>
        </div>
    </div>

</div>